#about {
  background: var(--color-black);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: start;
  width: 100%;
  height: 650px;

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 552px;
    height: 650px;

    h1 {
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 133.02%;
      margin-top: 100px;
      margin-bottom: 10px;
      color: var(--color-white);
    }

    img {
      width: 140px;
      height: 3px;
      margin-bottom: 50px;
    }

    p {
      width: 522px;
      height: 635px;
      font-family: "Manrope", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 152%;
      color: var(--color-gray);
      margin-bottom: 50px;
    }

    button {
      width: 156px;
      height: 54px;
      color: var(--color-white);
      background-color: var(--color-purple);
      border: none;
      padding: 20px;
    }
  }

  .about-img {
    position: relative;

    .img_paolo {
      position: absolute;
      top: 120px;
      left: -80px;
    }

    .img_verona {
    }
  }
}
